.choose-your-package {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Arial, sans-serif;
    padding: 16px;
    border-radius: 14px;
}

.high-demand {
    background-color: #ffeeee;
    color: #ff0000;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.flame-icon {
    margin-right: 5px;
}

.bundle-options {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}


.bundle-option {
    border: 2px solid #e0e0e0;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    flex: 1;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}

.bundle-option.selected {
    border-color: #f7dc5a;
    background-color: #fff1a4;
}

.quantity {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.per-unit {
    font-size: 12px;
    color: #666;
    margin-top: 2px;
}


.total-price {
    text-align: center;
    margin-bottom: 15px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.discounted-price {
    font-size: 24px;
    font-weight: bold;
}

.saving {
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    margin-left: 10px;
}

.additional-info {
    text-align: center;
    margin-bottom: 15px;
}

.add-to-cart-bundle {
    background-color: #ffc00b;
    color: white;
    border: none;
    padding: 15px;
    font-size: 18px;
    width: 100%;
    cursor: pointer;
    border-radius: 14px;
}

.stock-info, .secure-transaction {
    text-align: center;
    margin-top: 10px;
    color: #666;
}

.payment-methods {
    text-align: center;
    margin-top: 15px;
}

.bundle-option-product-info {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 10px;
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -15px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.bundle-image {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.bundle-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}